<div *ngIf="areProductsVisible" id="products" class="home-products">
    <mat-grid-list class="md-grid-list" [cols]="cols" (window:resize)="onScreenResize($event)" rowHeight="400px">
        <mat-grid-tile *ngFor="let product of products">
            <mat-card class="product-card">
                <span class="badge" style="float: right;">
                    #{{product.id}}
                </span>
                <mat-card-header>
                    <div mat-card-avatar>
                        <span class="iconify product-icon" data-icon="dashicons:products" data-inline="false"></span>
                    </div>
                    <mat-card-title style="font-size: 0.70rem;">{{product.name}}</mat-card-title>
                    <mat-card-subtitle style="font-size: 0.75rem;">
                        {{product.category}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="text-center">
                        <div class="horizontal-line"></div>
                        <br />
                        <span *ngIf="product.priceStatus == 'discount'"
                            class="label warning">-{{product.percentagePriceDiff}}% off</span>
                        &nbsp;
                        <span class="label info">{{product.stock}} left</span>
                    </div>
                    <br />
                    <div class="text-center">
                        <!-- Normal -->
                        <div *ngIf="product.priceStatus != 'discount'">
                            <span class="decorated-price">$ {{product.price}}</span> / {{product.measurement}}
                        </div>
                        <!-- Discount -->
                        <div *ngIf="product.priceStatus == 'discount'">
                            <del class="decorated-old-price">$ {{product.previousPrice}}</del> <br />
                            <span class="decorated-promotion">$ {{product.price}} / {{product.measurement}}</span>
                        </div>
                        <!-- Total price -->
                        <div *ngIf="product.totalPrice > product.price">
                            $ {{product.totalPrice}} total
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div *ngIf="product.stock > 0">
                        <div class="card-footer-order">
                            <span><span class="iconify tip-icon" data-icon="grommet-icons:tooltip"
                                    data-inline="false"></span> &nbsp; Use slider to add
                                more than 1 {{product.measurement}}</span>
                        </div>
                        <div class="card-footer">
                            <mat-slider color="accent" [max]="product.stock" min="1" step="1" thumbLabel="true"
                                showTicks="true" (input)="onSliderInputChange($event, product)"></mat-slider>

                            <button mat-button>
                                <span class="iconify cart-icon" data-icon="ri:shopping-cart-line"
                                    data-inline="false"></span>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="product.stock == 0" style="margin-top: 12%;">
                        <div class="text-center card-footer-outOfStock">
                            <span>
                                <span class="iconify owl-icon" data-icon="emojione:owl" data-inline="false"></span> 
                                <br/>
                                <span class="outOfStockText">out of stock</span>
                            </span>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>