<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="side">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <div class="home-sidenav-content">
        <div class="home-brand">
            <mat-grid-list cols="1" rowHeight="600px">
                <mat-grid-tile>
                    <div>
                        <div>
                            <span class="iconify brand-icon float-left" data-icon="emojione:shopping-cart"
                                data-inline="false"></span>
                            <h1 class="m-0 p-0 float-left" style="padding-top: 15px;">Grocery</h1>
                            <h1 class="m-0 p-0">
                                Store<span class="iconify angular-icon" data-icon="logos:angular-icon"
                                    data-inline="false"></span>
                            </h1>
                        </div>
                        <div>
                            <mat-card class="subtitle">
                                Everything your <strong class="roboto-font">home</strong> needs
                                <span class="iconify subtitle-icon" data-icon="heroicons-outline:emoji-happy"
                                    data-inline="false"></span>
                            </mat-card>
                        </div>
                        <br />
                        <button class="primary-theme-bg" *ngIf="!isShoppingBtnClicked" [@dismiss]="state"
                            mat-raised-button color="primary"
                            (click)="drawer.toggle(); triggerAnimation(); scrollToProducts()"
                            style="width: 250px; height: 100px; background-color: #708E9B;">
                            <span class="iconify shopping-icon" data-icon="clarity:cursor-hand-click-line"
                                data-inline="false"></span>
                            <br />
                            start shopping
                        </button>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <app-products [areProductsVisible]="areProductsVisible"></app-products>
    </div>
</mat-drawer-container>