.swagger-icon {
    height: 30px;
    width: 30px;
    color: #9FC693;
}

.font-trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.toolbar-section {
    width: 100%;
    left: 0;
    position: absolute;
}