<hr class="m-0" style="border: 1px solid #708E9B;" />
<div class="text-center" style="margin-top: 10%; width: 100%;">
  <a href="http://localhost:8080/swagger-ui/" target="_blank">
    <span class="iconify swagger-icon" data-icon="file-icons:swagger" data-inline="false"></span></a> <br />
  <span class="font-trebuchet">grocery store panel</span>
</div>
<br />
<hr class="m-0" style="border: 1px solid #708E9B;" />
<div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div class="text-center">
    <mat-accordion>
      <mat-expansion-panel class="m-0">
        <mat-expansion-panel-header style="background-color: #708E9B;">
          <mat-panel-title>
            <span class="iconify" data-icon="radix-icons:component-boolean" data-inline="true"></span> &nbsp; Filtering
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="example-form-field" color="accent" style="width: 90%; margin-top: 5%;">
          <mat-label>by product name</mat-label>
          <input id="productNameInput" matInput type="text" (keyup)="onProductNameInputKeyUp()"
            (input)="onInputChange($event.target.value)">
          <button mat-button *ngIf="productNameInput && !isTyping" matSuffix mat-icon-button
            (click)="clearInput('productNameInput')">
            <mat-icon>close</mat-icon>
          </button>
          <div *ngIf="isTyping" matSuffix>
            <mat-spinner diameter="20" color="accent"></mat-spinner>
          </div>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" color="accent">
          <mat-label>by category</mat-label>
          <mat-select [(value)]="selectedCategoryId"
            (selectionChange)="assignCategoryIdOnSelectionChange($event.value)">
            <mat-option value="0">none</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-checkbox labelPosition="before" (click)="assignValueOnCheckboxInteraction('isAvailable')">is available
        </mat-checkbox>
        <br />
        <mat-checkbox labelPosition="before" (click)="assignValueOnCheckboxInteraction('isOnDiscount')">is on discount
        </mat-checkbox>
        <br />
        <br />
        <mat-form-field appearance="outline" color="accent">
          <mat-label>by measurement</mat-label>
          <mat-select [(value)]="selectedMeasurement"
            (selectionChange)="assignMeasurementOnSelectionChange($event.value)">
            <mat-option value="0">none</mat-option>
            <mat-option *ngFor="let productMeasurement of productMeasurements" [value]="productMeasurement.measurement">
              {{productMeasurement.measurement}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" class="m-0">
        <mat-expansion-panel-header style="background-color: #708E9B;">
          <mat-panel-title>
            <span class="iconify" data-icon="radix-icons:component-boolean" data-inline="true"></span> &nbsp; Actions
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br />
        <button class="btn-metallic" mat-raised-button (click)="toggleProductPriceChangeDialog()">Change price by
          %</button>
        <br /> <br />
        <button class="btn-metallic" mat-raised-button (click)="toggleProductCreateDialog()">Add product</button>
        <br /> <br />
        <button class="btn-metallic" mat-raised-button (click)="toggleProductDeleteDialog()">Delete product</button>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
  </div>
</div>
<div class="text-center">
  <mat-form-field class="mat-field-style" appearance="outline" color="accent">
    <mat-label>sort products by</mat-label>
    <mat-select (selectionChange)="onSortSelectionPick($event.value)">
      <mat-option value="none">none</mat-option>
      <mat-option value="category">category</mat-option>
      <mat-option value="stock">stock</mat-option>
      <mat-option value="price">price (asc)</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-flat-button style="background-color: #708E9B;" (click)="toggleShoppingCartDialog()"><span class="iconify"
      style="height: 30px; width: 30px; padding: 6px" data-icon="ph:shopping-cart-simple-light"
      data-inline="false"></span> {{shoppingCartCurrentSize}}</button>
</div>