.swagger-icon {
    height: 30px;
    width: 30px;
    color: #708E9B;
}

.font-trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mat-field-style {
    font-size: 90%;
}

.btn-metallic {
    background-color: #4E636C;
}