/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.float-left {
    float: left;
}

.custom-snackbar-1 {
    background-color: #C5D2EC;
}

.snackbar-icon {
    height: 25px;
    width: 25px;
    vertical-align: bottom;
}

.coveringBodyDiv {
    height: 100%; 
    width: 100%; 
    z-index: 1000; 
    background-color: #407294; 
    position: absolute; 
    opacity: 0.8;
}