<span>
    <div style="font-size: 135%;">
        <span class="iconify snackbar-icon" data-icon="fa-regular:sad-tear" data-inline="false"></span> Oops!
    </div>
    Grocery Store Server is not responding
    <div *ngIf="!isConnectionEstablished" class="button-group">
        <!-- Space for Snackbar Close btn -->
        <span class="offlineSnackbarCloseBtn"></span>
        &nbsp;
        <button mat-raised-button color="primary" (click)="startTimer()"
            [disabled]="isTryingToReconnect">Connect</button>
    </div>
    <div *ngIf="isTryingToReconnect" style="text-align: center; margin-top: 5%;">
        Attempting to reconnect..
        <mat-spinner color="primary" diameter="40"></mat-spinner>
        {{time}} seconds passed
        <br />
        {{tries}} unsuccessful tries
    </div>
    <div *ngIf="isConnectionEstablished" style="text-align: center; margin-top: 5%;">
        <hr />
        <span class="iconify success-icon" data-icon="clarity:success-standard-solid" data-inline="false"></span>
        <br />
        <h3 class="m-0 p-0">Connection established</h3>
        <br />
        {{time}} seconds passed
        <br />
        {{tries}} unsuccessful tries
        <br />
        <br />
        <button mat-raised-button color="primary" (click)="refreshPage()">Refresh page</button>
    </div>
</span>