:host ::ng-deep .mat-spinner circle {   
    stroke: #0CC20C;
}

.mat-spinner {
    margin-left: 42%;
}

.button-group {
    margin-left: 25%; 
    margin-top: 5%;
}

.success-icon {
    height: 40px;
    width: 40px;
    color: #28A745;
}